#main-img {
  height: 325px;
  width: 550px;
  position: relative; 
  top: -5px;
}

#output {
  display: none;
  padding-top: 2rem;
}

#number-translated {
  font-size: large;
  color: #6c63ff;
  font-weight: bold;
}

